.cardview {
    padding: 8px;

    position: relative;
    z-index: 1;
    /* Establishes a stacking context */

    backdrop-filter: blur(var(--blur));
    border-radius: var(--border-radius-rounded);
}

.cardview::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    background-color: var(--wp--preset--color--primary);

    border-radius: var(--border-radius-rounded);

    opacity: var(--transparency);
    /* Your transparency */
    z-index: -1;
    /* Pulls it behind the text */
}