.store-tile {
    display: flex;
    flex-direction: column;

    padding: 8px;

    width: 316px;

    backdrop-filter: blur(var(--blur));

    border-radius: var(--border-radius-short);
}


.store-tile img {
    border-radius: var(--border-radius-short);

    width: 100%;
}

.store-tile p {
    margin-top: 8px;
    margin-bottom: 8px;

    margin-bottom: auto;

    color: white;
}

.store-tile h2 {
    margin-top: 8px;
    margin-bottom: 8px;

    margin-bottom: auto;

    color: white;
}

.store-tile::before {
    background-color: var(--wp--preset--color--secondary);

    border: none;
    border-radius: var(--border-radius-short);
}