.dialog-wrapper {
    min-width: 40%;
    max-width:60%;

    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dialog-title {
    margin: 0px;
    padding: 8px;

    cursor: pointer;

    color: var(--wp--preset--color--secondary-text-color);

    backdrop-filter: blur(var(--blur));

    border-top-right-radius: var(--border-radius-rounded);
    border-top-left-radius: var(--border-radius-rounded);
    border-bottom-left-radius: var(--border-radius-short);
    border-bottom-right-radius: var(--border-radius-short);

    text-align: center;
}

.dialog-title::before {
    background-color: var(--wp--preset--color--primary);

    border: none;
    border-top-right-radius: var(--border-radius-rounded);
    border-top-left-radius: var(--border-radius-rounded);
    border-bottom-left-radius: var(--border-radius-short);
    border-bottom-right-radius: var(--border-radius-short);
}

.dialog-content {
    margin: 0px;
    padding: 8px;

    cursor: pointer;

    color: var(--wp--preset--color--secondary-text-color);

    border-radius: var(--border-radius-short);

    text-align: center;

    backdrop-filter: blur(var(--blur));
}

.dialog-content::before {
    background-color: var(--wp--preset--color--primary);

    border: none;
    border-radius: var(--border-radius-short);
}


.dialog-content-end {
    margin: 0px;
    padding: 8px;

    cursor: pointer;

    color: var(--wp--preset--color--secondary-text-color);

    border-bottom-right-radius: var(--border-radius-rounded);
    border-bottom-left-radius: var(--border-radius-rounded);
    border-top-left-radius: var(--border-radius-short);
    border-top-right-radius: var(--border-radius-short);

    text-align: center;

    backdrop-filter: blur(var(--blur));
}

.dialog-content-end::before {
    background-color: var(--wp--preset--color--primary);

    border: none;
    border-bottom-right-radius: var(--border-radius-rounded);
    border-bottom-left-radius: var(--border-radius-rounded);
    border-top-left-radius: var(--border-radius-short);
    border-top-right-radius: var(--border-radius-short);
}