.text-input {
    padding: 8px;

    cursor: pointer;

    color: var(--secondary-text-color);

    backdrop-filter: blur(var(--blur));
    border-radius: var(--border-radius-rounded);

    text-align:center;
}

.text-input::before {
    background-color: var(--primary);

    border: none;
    border-radius: var(--border-radius-rounded);
}