.cardview {
    padding: 8px;

    backdrop-filter: blur(var(--blur));

    border-radius: var(--border-radius-rounded);
}

.cardview::before {
    background-color: var(--wp--preset--color--primary);

    border-radius: var(--border-radius-rounded);
}