header {
    display: flex;

    height: 150px;

    padding-left: 5%;
    padding-right: 5%;

    cursor: pointer;

    color: var(--wp--preset--color--secondary-text-color);

    backdrop-filter: blur(var(--blur));

    clip-path: var(--header-svg);
    -webkit-clip-path: var(--header-svg);
}

header :first-child {
    flex: 1;
}

header .is-layout-flex {
    flex-wrap: wrap;
    align-items: flex-start;

    margin-block-end: calc(0.67em * 2);
    margin-block-start: calc(0.67em * 2);
}

header::before {
    background-color: var(--wp--preset--color--primary);

    clip-path: var(--header-svg);
    -webkit-clip-path: var(--header-svg);
}