.tabBarHolder {
    padding: 3px;

    display: grid;
    grid-column-gap: 4px;

    border-radius: 800px;

    overflow-x: auto;

    backdrop-filter: blur(var(--blur));

    border-radius: var(--border-radius-rounded);

    margin: 8px;
}

.tabBarHolder:before {
    background-color: var(--wp--preset--color--primary);

    border: none;
    border-radius: var(--border-radius-rounded);
}

.tabBarHolder a {
    text-align: center;

    background-color: TRANSPARENT;

    color: var(--wp--preset--color--secondary-text-color);

    text-decoration: none;

    height: 12px;
    line-height: 13px;

    padding: 8px;

    /* width: 150px; */

    border-radius: 200px;

    white-space: nowrap;
}

.tabBarHolder .current {
    background-color: var(--wp--preset--color--sub-primary);
    color: var(--wp--preset--color--secondary-text-color);
}

.tabBarHolder .current::before {
    background-color: var(--wp--preset--color--sub-primary);
    opacity: var(--transparency);
}

.verticalTabbar {
    writing-mode: vertical-rl;

    overflow-y: auto;

    max-height: calc(100% - 16px);
}

.verticalTabbar a {
    max-width: 12px;
    height: max-content;
}

@media (max-width: 768px) {
    .tabBarHolder {
        bottom: 0px;
        left: 0px;
    }
}